<html>
	<head>
		<title> Kata TDD Exercise </title>
	</head>
	<body ng-app="stringCalculator" ng-controller = "stringCalculatorCtrl">
		<div class="input">
			<input type="text" ng-model="inputString" placeholder="Input String to calculate"/>
			<input type="button" ng-click="add()" value="Add"></input>
		</div>
		<div class="result" ng-bind="result"></div>
		<script src = "lib/angular.min.js"></script>
		<script src = "app.js"></script>
		<script src = "controllers/stringCalculatorCtrl.js"></script>
		<script src = "services/StringCalculatorService.js"></script>
	</body>
</html>